[submodule "vendor/org-helpers"]
	path = vendor/org-helpers
	url = https://github.com/leoc/org-helpers.el.git
[submodule "vendor/summered-theme"]
	path = vendor/summered-theme
	url = https://github.com/leoc/summered-emacs.git
[submodule "vendor/org-super-agenda"]
	path = vendor/org-super-agenda
	url = https://github.com/alphapapa/org-super-agenda.git
[submodule "vendor/org-protocol-capture-html"]
	path = vendor/org-protocol-capture-html
	url = https://github.com/alphapapa/org-protocol-capture-html.git
[submodule "vendor/mailaprop"]
	path = vendor/mailaprop
	url = git@github.com:leoc/mailaprop.git
